@using Project.WebUI.Business.AccountModule
@using Project.WebUI.Models.Entities.Membership
@model ProjectUser
@{
    ViewData["Title"] = "Index";
}
<div class="container">
    <section id="wexsi_melumat">
        <form action="">
            <div class="form-group">
                <label for="ad">Ad:</label>
                <input type="text" disabled value="@Model.Name">
            </div><br>
            <div class="form-group">
                <label for="ad">Soyad:</label>
                <input type="text" disabled value="@Model.Surname">
            </div><Br>
            <div class="form-group">
                <label for="ad">FIN:</label>
                <input type="text" disabled value="@Model.FinCode">
            </div><br>
            <div class="form-group">
                <label for="ad">Şöbə:</label>
                <input type="text" disabled value="@ViewBag.departmentName">
            </div><br>
            <div class="form-group">
                <label for="ad">Vəzifə:</label>
                <input type="text" disabled value="@ViewBag.professionName">
            </div>
        </form>

    </section>
</div>
     <partial name="_Pickup" />
<script>
  let themeColor = document.querySelectorAll('.theme-toggler span');
          themeColor.forEach(color => color.addEventListener('click', () => {
    let background = color.style.background;
    document.querySelector('body').style.background = background;
}));
</script>
<script>
    window.addEventListener("load", function() {
        let icon = document.querySelector(".picture");
        let body = document.querySelector("body");

          icon.addEventListener("click", function() {
            body.style.backgroundImage = 'url("../images/image.jpg")';
            body.style.setProperty('background-repeat', 'no-repeat');
            body.style.setProperty('background-attachment', 'fixed');
            body.style.setProperty('background-size', 'cover');
        });
    });
</script>